.input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.input:checked + label {
  background: #242424;
}
.input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
